#loading-overlay, #game-overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 105, 120, 1);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
#game-overlay{

  background-repeat:repeat;
  background-size:contain;
  display: none;
  text-align: center;
}

/* .streetBG{
  background-image: url("../img/street_background.jpg");
}
.cobbleStoneBG{
  background-image: url("../img/street_background_cobblestone.jpg");
}
.streetartBG{
  background-image: url("../img/streetart_background.jpg");
}
.subwayBG{
  background-image: url("../img(subway_background.jpg)");
} */

#game-overlay h2{
  margin-top: 20%;
  color: blue;

}
#first{
  position: fixed;
  z-index: 5;
}

#loading-overlay h2 {
align-self: flex-end;
position: absolute;
bottom: 138px;
right: 72px;
font-weight: bold;
font-size: 40px;
}


.overlay-logo{

  background-repeat:no-repeat;


  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
#taplistener{

  height: 171px;
  width: 171px;

}
.redNestImage{
  background-image: url("../img/bird_nest_red_new.png");
}
.blueNestImage{
  background-image: url("../img/bird_nest_blue_new.png");
}

/*  Ripple */

.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}
.rippleEffect {
  animation: rippleDrop .6s linear;
}

@keyframes rippleDrop {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.spin {
  border: 10px solid black;
  border-radius: 50%;
  border-top: 10px solid #0048A8;
  width: 250px;
  height: 250px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
  /* 50% { transform: scale(1);} */
}

.overlay-logo img{
  width: 175px;
  height: auto;
}
