#loading-overlay, #game-overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 105, 120, 1);
  z-index: 3;
}
#game-overlay{
  background-image: url("../img/green_grass.jpeg");
  background-repeat:repeat;
  background-size:contain;
  display: none;
  text-align: center;
}
#game-overlay h2{
  margin-top: 20%;
  color: blue;

}
#first{
  position: fixed;
  z-index: 5;
}


.overlay-logo{

  background-repeat:no-repeat;


  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
#taplistener{
  background-image: url("../img/bird_nest_red_new.png");
  height: 171px;
  width: 171px;

}

/*  Ripple */

.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}
.rippleEffect {
  animation: rippleDrop .6s linear;
}

@keyframes rippleDrop {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
